body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  padding: 20px;
}

.header-buttons {
  margin-bottom: 20px;
}

.header-buttons a {
  margin-right: 10px;
  text-decoration: none;
  color: #dde0e2;
  font-weight: bold;
}

/* .header-buttons a:hover {
  text-decoration: underline;
} */

h1, h2 {
  color: #021526;
}
.creator-card {
  width: 500px;
  height: 500px;
  background: #D1E9F6;
  color: #021526;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid #173B45; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.creator-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 15px;
}

.creator-card h2 {
  margin: 0;
}

.creator-card p {
  margin: 10px 0;
}

/* .creator-card a {
  color: #5f6a75; 
  text-decoration: none;
} */

.creator-card a:hover {
  text-decoration: underline;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #131842;
}


