.view-creator {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.view-creator img {
    width: 500px;
    height: 500px;
    border-radius: 50%; 
    object-fit: cover;
    margin-bottom: 20px;
}

.view-creator h2 {
    margin-bottom: 10px;
    font-size: 2rem;
}

.view-creator p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}


.view-creator a, .view-creator button {
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.view-creator a:hover, .view-creator button:hover {
    background-color: #0056b3;
}


.visit-channel-link {
    background-color: #4CAF50; 
}

.visit-channel-link:hover {
    background-color: #45a049; 
}
